.mobile-menu
	position absolute
	top 20px
	right 15px
	display none
	@media screen and (max-width: $mobile-width)
		display block

	&__toggle-button
		position relative
		width: 60px;
		height: 45px;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index 999
		&_state
			&_open
				.mobile-menu__toggle-button-item
					&:nth-child(1) {
						top 18px
						width 0%
						left 50%
					}

					&:nth-child(2) {
						transform rotate(45deg)
					}

					&:nth-child(3) {
						transform: rotate(-45deg)
					}

					&:nth-child(4) {
						top 18px
						width 0%
						left 50%
					}
				+ .mobile-menu__menu
					opacity 1
					visibility visible

	&__toggle-button-item
		display block
		position absolute
		height 9px
		width 100%
		background #fcea00
		border-radius 9px
		opacity 1
		left 0
		transform: rotate(0deg)
		transition .25s ease-in-out
		&:nth-child(1)
			top 0px
		&:nth-child(2)
		&:nth-child(3)
			top 18px

		&:nth-child(4)
			top 36px

	&__menu
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		z-index 99
		background-color #157EC2
		opacity 0
		visibility hidden
		transition all .25s

	&__menu-wrap
		position relative
		display flex
		flex-direction column
		justify-content center
		align-items center
		height 100%
		text-align center

	&__list
		position relative
		margin-bottom 50px

	&__list-item
		position relative
		margin-bottom 30px
		&:last-child
			margin-bottom 0

	&__list-link
		position relative
		color white
		font-size 24px
		text-transform uppercase
		text-decoration none
		transition all .25s
		&:hover
			color #FFF72E

	&__phone
		position relative
		display flex
		color white
		align-items center

	&__number-phone-wrap
		position relative
		display flex
		flex-direction column
		margin-right 5px

	&__sub-number-phone
		position relative
		font-size 13px
		margin-bottom 1px
		&:last-child
			margin-bottom 0

	&__number-phone
		position relative
		font-size 34px
