mixin list-subscriptions()
	+b.list-subscriptions&attributes(attributes)
		.container
			.row
				.col-xs-12.col-sm-6.col-md-4
					+e.card-subscriptions
				.col-xs-12.col-sm-6.col-md-4
					+e.card-subscriptions
				.col-xs-12.col-sm-6.col-md-4
					+e.card-subscriptions
				.col-xs-12.col-sm-6.col-md-4
					+e.card-subscriptions
				.col-xs-12.col-sm-6.col-md-4
					+e.card-subscriptions
