$avenirBold = 'AvenirNextW1G-Bold' , sans-serif
$avenirMedium = 'AvenirNextW1G-Medium' , sans-serif
$avenirLight = 'AvenirNextW1G-Light' , sans-serif

@font-face
	font-family 'AvenirNextW1G-Bold'
	font-path '../../assets/fonts/AvenirNextW1G-Bold'
	font-weight bold
	font-style normal

@font-face
	font-family 'AvenirNextW1G-Light'
	font-path '../../assets/fonts/AvenirNextW1G-Light'
	font-weight 300
	font-style normal

@font-face
	font-family 'AvenirNextW1G-Medium'
	font-path '../../assets/fonts/AvenirNextW1G-Medium'
	font-weight 500
	font-style normal
