include ../header/header
include ../footer/footer
include ../promo-slider/promo-slider
include ../news-slider/news-slider
include ../sessions/sessions
include ../brands-section/brands-section

mixin main()
	+b('main').main&attributes(attributes)
		+header()
		+promo-slider()
		+sessions()
		+news-slider()
		+brands-section()
		+footer()


