include ../header/header
include ../footer/footer
include ../banner-info/banner-info
include ../list-subscriptions/list-subscriptions


mixin subscriptions()
	+b('main').subscriptions&attributes(attributes)
		+header()
		+banner-info()
		+list-subscriptions()
		+footer()


