mixin contacts-info()
	+b.contacts-info&attributes(attributes)
		.container
			.row
				.col-xs-12.col-sm-7
					+e.about
						+e('h2').title
							| Контакти
						+e('p').text
							| Адреса планетарію: м. Київ, вул. Велика Васильківська, 57/3 (метро “Олімпійська”)
						+e('h3').sub-title
							| Телефони:
						+e('ul').list
							+e('li').list-item
								| 287-27-81 – директор
							+e('li').list-item
								| (050) 413-76-10, 287-27-81 – заступник директора
							+e('li').list-item
								| +380 (44) 287-75-08 – для довідок
							+e('li').list-item
								| (044) 338-19-91, (067) 338-19-91, (050) 413-76-10, +380 (44) 287-01-82 – замовлення програм (абонементи, групові відвідування)
							+e('li').list-item
								| (050) 352-31-26 – з питань оренди, проведення заходів (конференції, виставки, семінари, концерти, презентації)
							+e('li').list-item
								| +380 (44) 248-71-77 – Астрошкола та Студія космічного малювання
						+e('h3').sub-title
							| Email:
						+e('ul').list
							+e('li').list-item
								| kievplanet@gmail.com
							+e('li').list-item
								| mykhailo.sydorenko@gmail.com (робота сайту)
				.col-xs-12.col-sm-5
					+e('h2').title
						| Обратная связь
					+e('form').form-feedback
						+e('input').input(type='text' placeholder="Ім'я *")
						+e('input').input(type='email' placeholder="Email")
						+e('textarea').textarea(placeholder="Повідомлення")
						+e('button').button(type='submit')
							| Надіслати повідомлення
