.contacts-info
	position relative
	background-color #eee
	padding 40px 0
	@media screen and (max-width: $mobile-width)
		padding-top 100px
		padding-bottom 20px

	&__about
		position relative

	&__title
		position relative
		font-size 36px
		color #323232
		font-family $avenirBold
		margin-bottom 24px
		@media screen and (max-width: $mobile-width)
			font-size 24px
			margin-bottom 16px

	&__sub-title
		position relative
		font-size 24px
		color #323232
		font-family $avenirBold
		margin-bottom 18px
		margin-top 30px

	&__text
		position relative
		font-size 16px
		color #797972
		margin-bottom 20px
		font-style italic
		@media screen and (max-width: $mobile-width)
			font-size 14px

	&__list
		position relative
		list-style-type disc
		padding-left 20px

	&__list-item
		position relative
		font-size 16px
		color #797972
		margin-bottom 20px
		font-style italic
		@media screen and (max-width: $mobile-width)
			font-size 14px
			margin-bottom 10px

	&__form-feedback
		position relative

	&__textarea
	&__input
		position relative
		border 1px solid #323232
		border-radius 3px
		height 40px
		padding 7px 9px
		display block
		width 100%
		margin-bottom 15px
		background-color transparent

	&__textarea
		height 200px
		resize none

	&__button
		position relative
		height 45px
		padding 0 15px
		border-radius 3px
		font-family $avenirMedium
		font-size 16px
		text-transform uppercase
		border 1px solid transparent
		color white
		background-color #157ec2
		transition all .25s
		&:hover
			background-color transparent
			color #157EC2
			border-color #157EC2
		@media screen and (max-width: $mobile-width)
			width 100%
			font-size 14px
			height 35px
