.footer
	position relative
	background-color #157EC2
	padding-top 65px
	padding-bottom 45px
	@media screen and (max-width: $mobile-width)
		padding-top 20px
		padding-bottom 20px

	&__list-map-nav
		position relative
		display flex
		flex-direction column
		justify-content center
		@media screen and (max-width: $mobile-width)
			display none

	&__list-map-nav-title
		position relative
		color #FFF72E
		font-size 20px
		margin-top 0
		margin-bottom 25px

	&__map-nav
		position relative
		padding-left 0
		margin 0
		list-style-type none

	&__map-nav-item
		position relative
		margin-bottom 20px
		&:last-child
			margin-bottom 0

	&__map-nav-link
		position relative
		font-size 16px
		color white
		transition all .25s
		text-decoration none
		&:hover
			color #FFF72E

	&__partners
		position relative
		display flex
		flex-direction column
		align-items flex-end
		@media screen and (max-width: $mobile-width)
			margin-bottom 20px
			align-items center

	&__logo-footer
		position relative
		display block
		width 340px
		height 115px
		margin-bottom 80px
		@media screen and (max-width: $mobile-width)
			display none

	&__logo-footer-img
		position relative
		max-width 100%
		height auto

	&__wrap-links-partner
		position relative
		display flex
		margin-bottom 25px

	&__link-partner
		position relative
		display block
		width 70px
		height 44px
		margin-right 25px
		&:last-child
			margin-right 0

	&__link-partner-img
		position relative
		max-width 100%
		height auto
		display block

	&__links
		position relative
		display flex
		flex-direction column
		align-items center
		@media screen and (max-width: $mobile-width)
			align-items center

	&__socials
		position relative
		display flex
		@media screen and (max-width: $mobile-width)
			margin-bottom 30px

	&__social-link
		position relative
		display block
		margin-right 20px
		&:last-child
			margin-right 0
		&:hover
			svg
				fill white
		svg
			width 40px
			height 40px
			fill #fff72e
			transition all .25s

	&__copyright
		position relative
		font-size 14px
		margin-top 40px
		@media screen and (max-width: $mobile-width)
			margin-top 20px
			text-align center
			font-size 12px


