.brand-sections
	position relative
	background-color #475770
	padding 70px 0
	@media screen and (max-width: $mobile-width)
		padding 30px 0

	&__wrap-links
		position relative
		display flex
		justify-content center
		align-items center

	&__link
		position relative
		display block
		margin-right 80px
		font-size 0
		text-decoration none
		&:last-child
			margin-right 0
		@media screen and (max-width: $mobile-width)
			margin-right 20px

	&__link-icon
		height auto
		max-width 100%

