mixin brands-section()
	+b('section').brand-sections&attributes(attributes)
		.container
			.row
				.col-xs-12
					+e.wrap-links
						+e('a').link(href=jv0)
							+e('img').link-icon(src='assets/images/fp.png')
						+e('a').link(href=jv0)
							+e('img').link-icon(src='assets/images/mt.png')
						+e('a').link(href=jv0)
							+e('img').link-icon(src='assets/images/ta.png')
